<form>
  <div class="mb-3">
    <label class="form-label">Ingrese su nombre</label>
    <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre usuario">
  </div>

  <div class="mb-3">
    <label class="form-label">Ingrese su Cédula</label>
    <input [(ngModel)]="cedula" name="cedula" type="text" class="form-control" placeholder="Cédula">
  </div>

  <div class="mb-3">
    <label class="form-label">Ingrese su Auto</label>
    <input [(ngModel)]="carro" name="carro" type="text" class="form-control" placeholder="Nombre Auto">
  </div>

  <div class="mb-3">
    <label class="form-label">Ingrese su Placa</label>
    <input [(ngModel)]="placa" name="placa" type="text" class="form-control" placeholder="Placa">
  </div>

  <div class="mb-3">
    <label class="form-label">Ingrese Fecha</label>
    <input [(ngModel)]="fechaReserva" name="fechaReserva" type="datetime-local" class="form-control">
  </div>
</form>